// Windo Rules for Niri

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"brave$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"brave-browser$"# 
    open-maximized true
}

window-rule {
    match app-id=r#"Code$"#
    open-maximized true
}

window-rule {
    match app-id=r#"Mail$"#
    open-maximized true
}

window-rule {
    match app-id=r#"Music$"#
    open-maximized true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    block-out-from "screen-capture"
}

window-rule {
    geometry-corner-radius 15
    clip-to-geometry true
}
