* {
    font-family: JetBrainsMonoNerdFont, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(43, 53, 63, 0.5);
    border: 1px solid rgba(200, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
	background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#wireplumber:hover {
    background-color: #f1f1f1;
	color: #1f1f1f;
	box-shadow: 0px 0px 3px 2px #aaffef;
}
#backlight:hover {
    background-color: #f1f1f1;
	color: #1f1f1f;
	box-shadow: 0px 0px 3px 2px #aaffef;
}
#battery:hover {
    background-color: #f1f1f1;
	color: #1f1f1f;
	box-shadow: 0px 0px 3px 2px #aaffef;
}
#mpd:hover {
    background-color: #f1f1f1;
	color: #1f1f1f;
	box-shadow: 0px 0px 3px 2px #aaffef;
}
#bluetooth:hover {
    background-color: #f1f1f1;
	color: #1f1f1f;
	box-shadow: 0px 0px 3px 2px #aaffef;
}
#power-profiles-daemon:hover {
    background-color: #f1f1f1;
	color: #1f1f1f;
	box-shadow: 0px 0px 3px 2px #aaffef;
}
#cpu:hover {
    background-color: #f1f1f1;
	color: #1f1f1f;
	box-shadow: 0px 0px 3px 2px #aaffef;
}
#network:hover {
    background-color: #f1f1f1;
	color: #1f1f1f;
	box-shadow: 0px 0px 2px #aaffef;
}
#memory:hover {
    background-color: #f1f1f1;
	color: #1f1f1f;
	box-shadow: 0px 0px 3px 2px #d1efe1;
}

#workspaces button {
    padding: 0 6px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
   /* background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#bluetooth,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#backlight,
#custom-hardware,
#custom-power,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    margin: 4px 2px;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    padding: 0 8px;
    color: #ffffff;
    background-color: #0f0f0f;
    opacity: 0.7;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 6px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 6px;
}

.modules-left {
	margin-left: 4px;
}

.modules-right {
	margin-right: 4px;
}

#clock {
    background-color: white;
    color: black;	
    font-size: 15px;
}

#custom-hardware {
   color: black;
   background-color: white;
   margin-right: 2px;
   padding-right: 12px;
}
#custom-power {
   color: black;
   background-color: white;
   margin-right: 2px;
   padding-right: 12px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


label:focus {
    background-color: #000000;
}

#custom-media {
    min-width: 100px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}


#language {
    background: #00b093;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}


#privacy-item {
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}


